body {
  background-color: #e5e5f7;
  opacity: 1;
  background-image: linear-gradient(#444cf7 1px, transparent 1px),
    linear-gradient(to right, #444cf7 1px, #e5e5f7 1px);
  background-size: 20px 20px;
}
nav {
  background-color: #13c5f1;
  padding: 5px;
  border: 2px solid #999;
  margin: 0px auto;
}
nav ul li {
  text-align: center;

  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
}
nav a {
  color: purple;
  text-decoration: none;
}
nav a:hover {
  color: rgb(241, 9, 9);
}
